<body>
    <div class = "footercl">
        <footer>
            <div>
                <p>&copy; 2023 Ready 4 Takeoff. All rights reserved.</p>
                <a href="/about-us">About us</a>
            </div>
        </footer>
    </div>
</body>