<nav class="navbarmenu">
    <a class="nav-link" href="/">Αρχική Σελίδα</a>
    <a class="nav-link" href="/destinations">Δημοφιλείς προορισμοί</a>
    <a class="nav-link" href="/faq">FAQ</a>
    <a class="nav-link" href="/contact-us">Φόρμα επικοινωνίας</a>
</nav>
