<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/generalstyle.css">
    <link rel="stylesheet" href="css/popdeststyle.css">
    <link rel="stylesheet" href="css/customerinfostyle.css">
    <title>Ready 4 Takeoff</title>
  </head>

  <header class="main-header"></header>
    {{>header}}
    {{>nav-bar}}
  </header>


  <body>
    {{{body}}}
  </body>

  {{>footer}}
</html>