<div class="mainbg">
<div class="whitebox">
    <div class="title">
    <h1>Φόρμα επικοινωνίας</h1>
    </div>
    <form id="contact-form">
    <label for="name">Όνοματεπώνυμο</label>
    <input type="text" id="name" name="name" placeholder="" required>
    
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="" required>
    
    <label for="message">Επικοινωνήστε μαζί μας</label>
    <textarea id="message" name="message" placeholder="Πληκτρολογίστε στο πλαίσιο" required rows="12"></textarea>
    
    <button type="submit">Υποβολή</button>
    </form>
</div>
</div>