<div class="mainbg">
<div class="whiteboxd">
    <h1>Δημοφιλείς Ταξιδιωτικοί προορισμοί</h1>
    <div class="destination">
        <h2>Αθήνα</h2>
        <div class="images">
        <img src="imgs/acropolis.jpg" alt="Destination 1 image 1">
        <img src="imgs/athens1.jpeg" alt="Destination 1 image 2">
        </div>
        <a href="https://en.wikipedia.org/wiki/Athens">Μάθετε περισσότερα</a>
    </div>
    <div class="destination">
        <h2>Βερολίνο</h2>
        <div class="images">
        <img src="imgs/berlin1.jpg" alt="Destination 2 image 1">
        <img src="imgs/berlin2.jpg" alt="Destination 2 image 2">
        </div>
        <a href="https://en.wikipedia.org/wiki/Berlin">Μάθετε περισσότερα</a>
    </div>
    <div class="destination">
        <h2>Τόκυο</h2>
        <div class="images">
        <img src="imgs/tokyo1.jpg" alt="Destination 3 image 1">
        <img src="imgs/tokyo2.jpg" alt="Destination 3 image 2">
        </div>
        <a href="https://en.wikipedia.org/wiki/Tokyo">Μάθετε περισσότερα</a>
    </div>
    <div class="destination">
        <h2>Νέα Υόρκη</h2>
        <div class="images">
            <img src="imgs/newyork1.jpg" alt="Destination 4 image 1">
            <img src="imgs/newyork2.jpg" alt="Destination 4 image 2">
        </div>
        <a href="https://en.wikipedia.org/wiki/New_York_City">Μάθετε περισσότερα</a>
    </div>
</div>
</div>