<div class="mainbg">
<div class = "whitebox">
    <h1>Σύνδεση στον λογαριασμό σας.</h1>
    <form id="singIn-Form" method="POST" action="/sign-in/password">
    <fieldset>
        <label for="Username">Username: <input id="Username" name="username" required /></label>
        <label for="Password">Συνθηματικό: <input id="Password" name="password" type="password" required /></label>
    </fieldset>
    <fieldset>
        <label>Δεν έχετε λογαριασμό; <a href="/sign-up">Εγγραφείτε</a></label>
    </fieldset>
    <fieldset><label><a href="">Ξεχάσατε τον κωδικό σας;</a></label></fieldset>
    <button type="submit">Σύνδεση</button>
    </form>
</div>
</div>